#transform{
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: translate(50px,200px);
  transform: skew(20deg, 10deg)
}

@keyframes example {
  0% {background-color: black; left: 0px; top:200px;}
  100% {background-color: red;left: 300px; top:200px;}
}


#box1{
  width: 100px; 
  height: 100px;
  background-color: black;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#box2{
  
}