body
{
	background-color: #90b87d;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Major Mono Display', monospace;
	line-height: 2;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 30vh;
	margin-bottom: 40vh;
	font-size: 50px;
}

h2, th {
	text-align: center;
	font-family: 'Major Mono Display', monospace;
	font-size: 30px;
	margin-bottom: 10vh;
}

p, td {
	font-family: 'Lato', sans-serif;
	line-height:3;
}

.picBox {
	width: 49vw;
	height: 35vh;
}

img {
	width: 100%;
	height: 100%;
}

.analysisText{
	padding-right: 5vw;
	padding-left: 5vw;
}

#aTitle {
	font-size: 30px;
	padding-bottom: 5vh;
	padding-top: 10vh;
}

.imageLabel{
	font-size: 20px;
	padding-bottom: 5vh;
}


#dataText{
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 30vh;
}

