body
{
	background-color: #90b87d;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Major Mono Display', monospace;
	line-height: 2;
	margin-left: 20vw;
	margin-right: 20vw;
	font-size: 25px;
}

#mainTitle {
	margin-top: 35vh;
}

#mainTitle2 {
	font-size: 100px;
	margin-top: 0px;
}


h2, th {
	text-align: center;
	font-family: 'Major Mono Display', monospace;
	font-size: 30px;
}

h2{
	margin-top: 200px;
}

th {
	padding-bottom: 5vh;
}

table{
	margin-top: 100px;
}

p, td {
	font-family: 'Lato', sans-serif;
	line-height:3;
	font-size: 20px;
}


img {
	width: 100%;
	height: 100%;
}

.analysisText{
	padding-right: 10vw;
	padding-left: 10vw;
}

#dataText, #answerText{
	margin-left: 10vw;
	margin-right: 10vw;
}

.section1 {
	opacity: 1;
	transition: opacity 1s ease-in-out; /* Adjust the duration and easing function as needed */
}

.section2, #section3, #section4, #answerText, #answerTitle, #intro {
	opacity: 0;
	transition: opacity 1s ease-in-out; /* Adjust the duration and easing function as needed */
}

#intro{
	margin-top: 300px;
	margin-left: 10vw;
	margin-right: 10vw;

}


@media screen and (max-width:1200px){
	h1 {
	text-align: center;
	font-family: 'Major Mono Display', monospace;
	line-height: 2;
	
}

	#mainTitle {
		margin-top: 30vh;
		margin-left: 15vw;
		margin-right: 15vw;
		font-size: 25px;
	}

	#mainTitle2 {
		margin-top: 0px;
		margin-left: 5vw;
		margin-right: 5vw;
		font-size: 50px;
	}


	h2, th {
		text-align: center;
		font-family: 'Major Mono Display', monospace;
		font-size: 25px;
	}

	h2{
		margin-top: 200px;
	}

	th {
		padding-bottom: 5vh;
	}

	table{
		margin-top: 100px;
	}

	p, td {
		font-family: 'Lato', sans-serif;
		line-height:3;
		font-size: 10px;
	}


	img {
		width: 100%;
		height: 100%;
	}

	.analysisText{
		padding-right: 5vw;
		padding-left: 5vw;
	}

	#dataText, #answerText{
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.section1 {
		opacity: 1;
		transition: opacity 1s ease-in-out; /* Adjust the duration and easing function as needed */
	}

	.section2, #section3, #section4, #answerText, #answerTitle {
		opacity: 0;
		transition: opacity 1s ease-in-out; /* Adjust the duration and easing function as needed */
	}


}