body
	{
		background-color: black;
		color: white;
	}

#Title {
		font-family: 'Fjalla One', sans-serif;
	}

	#miniTitle {
		font-family: 'Cantarell', sans-serif;
		font-size: 15px;
	}

@media screen and (min-width:413px){
	#page{
		display: flex;
	}
	

	#Titles {
		width: 40vw;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 40vh;
	}

	#GIF{
		width: 60vw;
		height: 100vh;
	}

	img{
		width: 100%;
		height: 100%;
	}
}



@media screen and (max-width:412px){
	
	#Titles {
		width: 40vw;
	}

	#GIF{
		width: 60vw;
		height: 100vh;
	}

	img{
		width: 100vw;
		height: 100vh;
	}
}

