
@media screen and (min-width: 1000px) {
	body
	{
		margin-top: 15vh;
		background-color: red;

	}

	#Title 
	{
		margin-left: 35vw;
		margin-right: 35vw;
		font-size:27px;
		color: white;
		text-align: center;
		font-family: 'Bentham', serif;
		line-height: 0.7
	}

	#parag
	{
		margin-left: 25vw;
		margin-right: 25vw;
		font-family: 'Cabin', sans-serif;
		padding-top: 10vh;
	}
}

@media screen and (max-width: 999px) {
	body
		{
			margin-top: 10vh;
			background-color: red;

		}

		#Title 
		{
			margin-left: 10vw;
			margin-right: 10vw;
			font-size:50px;
			color: white;
			text-align: center;
			font-family: 'Bentham', serif;
			line-height: 0.7
		}

		#parag
		{
			margin-left: 10vw;
			margin-right: 10vw;
			font-family: 'Cabin', sans-serif;
			padding-top: 10vh;
		}
}