
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}
#center {
    position: fixed;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 25vh;
}

img{
    width: 45vw;
    height: 45vh;
}

p{
    margin-top: 10px;
    margin-bottom: 950px;
    color:white;
    font-size: 50px;
}